@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 120px;
    background-color: #808000;
}

#header h1 {
    width: 94%;
    padding-top: 17px;
    padding-left: 3%;
    font-size: 40px;
    font-weight: bold;
    color: #eeeeee;
    display: inline;
}

#header_menu {
    width: 57%;
    padding-top: 32px;
    padding-left: 3%;
    display: inline-block;
}

#header a {
    color: #000;
    text-decoration: underline;
}

#user_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}


#content {
    width: auto;
    height: auto;
    padding-left: 3%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 150px;
    background-color:aliceblue;
}

#container a {
	text-decoration: underline;
}

#today_record a {
	text-decoration: underline;
	margin-top: 20px;
}

#my_page {
	text-align: center;
	padding-top: 160px;
	padding-bottom: 160px;
}

#my_page h1{
	font-size: 25px;
}

#my_page p {
	font-size: 50px;
}

#record_table th {
	text-align: center;
}

#re_toppage a {
	text-decoration: underline;
}

#sign_up a {
	text-decoration: underline;
}

table#calendar th {
    width: 30%;
    padding: 10px 2%;
}

table#calendar td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

select {
    height: 30px;
}


h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
    border-color: #006600;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

buttom {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
	height: auto;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 38px;
    background-color: #808080;
    font-size:20px;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d8da;
}







h1 a {
    color: #eeeeee;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 20%;
}

table#report_list .report_title {
    width: 37%;
}

table#report_list .report_action {
    width: 13%;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

h3 {
    font-size: larger;
}