@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 120px;
    background-color: #999966;
}

#header h1 {
    width: 94%;
    padding-top: 17px;
    padding-left: 3%;
    font-size: 40px;
    font-weight: bold;
    color: #eeeeee;
    display: inline;
}

#header_menu {
    width: 57%;
    padding-top: 32px;
    padding-left: 3%;
    display: inline-block;
}

#header a {
    color: #000;
    text-decoration: underline;
}

#user_name {
    color: #000000;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}


#content {
    width: auto;
    height: 476px;
    padding-left: 3%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 150px;
    background-color:#FFFFFF;
}

#container a {
	text-decoration: underline;
}

#today_record a {
	text-decoration: underline;
	margin-top: 20px;
}

#my_page {
	text-align: center;
	padding-top: 160px;
	padding-bottom: 160px;
}

#my_page h1{
	font-size: 25px;
}

.total_study_hour {
	margin: -3em auto;
	width: 30%;
	background-color: aliceblue;
	border: 1px solid #ccc;
	font-size: 50px;
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 8px;
}


#record_table th {
	text-align: center;
	background-color: #EEEEEE;
}

#yellow {
	background-color: #FFFFCC;
}

#red {
	background-color: #FF9999;
}

#blue {
	background-color: #CCFFFF;
}

#green {
	background-color: #CEF9DC;
}

#re_toppage a {
	text-decoration: underline;
}

#sign_up a {
	text-decoration: underline;
}


table#calendar th {
    width: 30%;
    padding: 10px 2%;
}

#week_day th{
	background-color: #EEEEEE;
}

table#calendar td {
    width: 29%;
    padding: 10px 2%;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
    border-color: #000000;
}

#right_side {
	float: right;
	margin-top: 100px;
	margin-right: 350px;
}

.box {
	margin: 2em auto;
	padding: 1em;
	background-color: #EEFFFF;
	color: #666;
	border: 1px solid #ccc;
	box-shadow: -2px 5px 5px #e8d3c7;
	border-radius: 20px;
}

#left_side {
	float: left;
}

dic.clear {
	clear: ;
}

#introduction_title {
	text-align: center;
}


#introduction_content {
	text-align: center;
}

#introduction_content p {
	text-decoration: underline;
}


table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

buttom {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
	height: auto;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 38px;
    background-color: #F5F5DC;
    font-size:20px;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d8da;
}

h1 a {
    color: #eeeeee;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

h3 {
    font-size: larger;
}